<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pn.mapper.RoleAuthMapper">

    <delete id="removeRoleAuthById">
        delete from role_auth where role_id= #{roleId}
    </delete>

    <!--
         //根据角色id查询角色已分配的所有权限(菜单)的id
    public List<Integer> findAuthIdsByRid(Integer roleId);
    -->
    <select id="findAuthIdsByRid" resultType="Integer">
        select auth_id
        from role_auth
        where role_id = #{roleId}
    </select>

    <!--
      //添加角色权限关系
    public int insertRoleAuth(RoleAuth roleAuth);
    -->
    <insert id="insertRoleAuth">
        insert into role_auth
            (role_id,auth_id)
        values
            (#{roleId}, #{authId})
    </insert>
</mapper>